body {
  background-color: yellowgreen;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
}
h1 {
  border: thick ridge gray;
  border-radius: 20px;
  text-align: center;
  text-shadow: 2px 2px 5px ghostwhite;
  font-variant: small-caps;
}
h3 {
  text-align: center;
  text-decoration-line: overline underline;
  letter-spacing: 3px;
}
p {
  font-size: large;
  margin: 20px;
}
a {
  color: hotpink;
  font-size: large;
}
a:hover {
  color: aqua;
  font-size: larger;
}
#imgEinstein {
  float: right;
  width: 150px;
  height: 180px;
  box-shadow: 5px 5px lightblue;
}
table {
  border-radius: 5px;
  margin: auto;
  background-color: azure;
  text-align: center;
}
th {
  background-color: black;
  color: white;
  padding: 10px;
}
td {
  padding: 5px;
}
#gradient {
  background-image: linear-gradient(to bottom left, blue, green);
  width: 200px;
  height: 100px;
  transition: 4s;
}
#gradient:hover {
  width: 100%;
}
.button {
  position: relative;
  left: 42%;
  display: inline-block;
  background-color: olive;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  margin: 5px;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
